﻿.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.fn {
    float: none !important;
}

.clear {
    clear: both;
}

.no-border {
    border: none !important;
}

.text-center {
    text-align: center;
}

.f46 {
    font-size: 46px !important;
}

.f22 {
    font-size: 22px !important;
}

.f18 {
    font-size: 18px !important;
}

.mt1 {
    margin-top: 1px !important;
}

.mt3 {
    margin-top: 3px !important;
}

.mt14 {
    margin-top: 14px;
}

.mt20 {
    margin-top: 20px !important;
}

.mb0 {
    margin-bottom: 0px;
}

.mb20 {
    margin-bottom: 20px;
}

.pt7 {
    padding-top: 7px;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

/* form validation - start */
span.field-validation-error {
    margin-top: 6px;
    margin-bottom: 0;
    color: #fff;
    background-color: #D65C4F;
    display: table;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 2px;
}

    span.field-validation-error span {
        color: #fff;
    }
/* form validation - end */

/* form disabled input customization -start */
input[type=checkbox][disabled],
button[type=submit][disabled],
button[type=button][disabled],
.select2-container-disabled,
.select2-container-disabled > a,
.select2-container-disabled > ul,
.select2-container-disabled > ul > li,
.select2-container-disabled > ul > li > input {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

input.cursorPointer {
    cursor: pointer !important;
}
/* form disabled input customization -start */

/* datatable customization - start */
.dataTables_paginate {
    float: none !important;
}

.dataTable tbody tr {
    cursor: pointer;
}

.stop-row-click.dataTable tbody tr {
    cursor: initial;
}

.dataTable > tbody > tr:nth-child(even) > td {
    background-color: #fafafa;
}

.dataTable > tbody > tr:hover > td {
    background-color: #C9F0E2;
}

.dataTables_processing {
    z-index: 3000;
    height: 94px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(153, 153, 153, 0.22);
}

.dataTables_processing_pane {
    z-index: 3001;
    height: 94px;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: #fff;
}

table.dataTable > tfoot > tr > th {
    border: none;
}
/* datatable customization - end */

/* segment - filter - start */
.segment-filter {
    position: relative;
    margin: 0px !important;
    padding: 5px 0px 5px 0px;
}

    .segment-filter:hover {
        background-color: #e2e8ee;
    }

.segment-filter-and {
    position: absolute;
    left: -10px;
    bottom: -10px;
    font-size: 10px;
    background-color: #9fafc1;
    color: #e2e8ee;
    border-radius: 3px;
    padding: 2px 4px;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,0.4);
    font-weight: bold;
    z-index: 1;
}

.segment-filter button.close {
    padding-top: 7px;
    font-size: 20px;
}

.segment-filter-or {
    margin: 10px 0px;
    display: inline-block;
    font-size: 10px;
    background-color: #9fafc1;
    color: #e2e8ee;
    border-radius: 3px;
    padding: 2px 4px;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,0.4);
    font-weight: bold;
}

#segment-filter-group-container .dropdown-menu {
    min-width: 200px;
}

#segmented-device-count-spinner {
    display: none;
    position: absolute;
    left: 24px;
    top: 12px;
}
/* segment - filter - end */
