﻿@{
    ViewData["Title"] = "Çalışanlar";
}
<h1>Çalışanlar</h1>

<div>
    <table class="table dataTable">
        <tfoot>
            <tr>
                <th rowspan="1" colspan="1" width="20%"><input type="text" name="search_FirstName" placeholder="Ara: Adı" class="form-control" /></th>
                <th rowspan="1" colspan="1" width="20%"><input type="text" name="search_LastName" placeholder="Ara: Soyadı" class="form-control" /></th>
                <th rowspan="1" colspan="1" width="20%"><input type="text" name="search_EmploymentDate" placeholder="Ara: İşe Başlangıç Tarihi" class="form-control cursorPointer date-search-selector" readonly="readonly" /></th>
                <th rowspan="1" colspan="1" width="20%"><input type="text" name="search_UnemploymentDate" placeholder="Ara: İşten Ayrılma Tarihi" class="form-control cursorPointer date-search-selector" readonly="readonly" /></th>

            </tr>
        </tfoot>
    </table>
</div>
<table id="oTable" class="table">
    <thead>
        <tr>
            <th>
                Adı
            </th>
            <th>
                Soyadı
            </th>
            <th>
                Departman
            </th>
            <th>
                İşe Başlangıç Tarihi
            </th>
            <th>
                İşten Ayrılma Tarihi
            </th>
            <th>Yöneticisi</th>
            <th>
                Aktif
            </th>
            <th>
                Silindi
            </th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            oTable = $('#oTable').DataTable({
                serverSide: true,
                processing: true,
                ajax: {
                    url: '@Url.Action("GetDatatableSource", "Accounts", null,Context.Request.Scheme, null)',
                    type: 'POST',
                },
                pagingType: "full_numbers",
                buttons: ['copy', 'excel', 'pdf'],
                columns: [
                    { data: "FirstName", title: "Adı", name: "FirstName" },
                    { data: "LastName", title: "Soyadı", name: "LastName" },
                    { data: "Department", title: "Departman", name: "Department" },
                    { data: "EmploymentDate", title: "İşe Başlangıç Tarihi", name: "EmploymentDate" },
                    { data: "UnemploymentDate", title: "İşten Ayrılma Tarihi", name: "UnemploymentDate" },
                    //{ data: "Parent.FullName", title: "Yöneticisi", name: "Parent.FullName" },
                    { data: "IsActive", title: "Aktif", "render": renderBoolean, "className": "dt-right" },
                    { data: "IsDeleted", title: "Silindi", "render": renderBoolean, "className": "dt-right" },
                    { data: "Id", title: "", sortable: false, "className": "dt-right", render: function (id, type, row) { return '<a href="Accounts/Save/' + id + '" class="fa fa-edit" title="Edit"></a>' } },
                    { data: "Id", title: "", sortable: false, "className": "dt-right", render: function (id, type, row) { return '<a href="Accounts/Delete/' + id + '" class="fa fa-trash" title="Delete" onclick="confirm("Are you sure you want to delete ...?")"></a>' } }
                ],
                "sDom": 'r<"datatable-header"><"datatable-scroll"t><"datatable-footer text-center"p<"clear"<"fl"i><"fr"l>>>',
            });
        });
    </script>
}