﻿<table style="background-color:#dedede" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr style="border-collapse:collapse">
            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" bgcolor="#DEDEDE" align="center">
                <table style="margin:0 10px" width="640" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr style="border-collapse:collapse">
                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="640" height="10"></td>
                        </tr>
                        <tr style="border-collapse:collapse">
                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="640">
                                <table style="border-radius:6px 6px 0 0;background-color:#575757;color:#ededed" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                                    <tbody>
                                        <tr style="border-collapse:collapse">
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="15"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="350" valign="middle" align="left"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="30"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="255" valign="middle" align="right">
                                                <table width="255" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr style="border-collapse:collapse">
                                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="255" height="8"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="255" cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr style="border-collapse:collapse">
                                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="255" height="8"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="15"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="border-collapse:collapse">
                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="640" bgcolor="#FFFFFF" align="center">
                                <div style="text-align:left;margin:10px" align="left">
                                    <a href="https://www.loodos.com/" target="_blank"><img src="https://www.loodos.com/logo-2.png" style="display:inline;outline:none;text-decoration:none;" align="top"></a>
                                </div>
                            </td>
                        </tr>
                        <tr style="border-collapse:collapse">
                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="640" height="30" bgcolor="#FFFFFF"></td>
                        </tr>
                        <tr style="border-collapse:collapse">
                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="640" bgcolor="#FFFFFF">


                                <table width="640" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                        <tr style="border-collapse:collapse">
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="30"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="580">
                                                @RenderBody()
                                            </td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="30"></td>
                                        </tr>
                                    </tbody>
                                </table>


                            </td>
                        </tr>
                        <tr style="border-collapse:collapse">
                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="640" height="15" bgcolor="#FFFFFF"></td>
                        </tr>
                        <tr style="border-collapse:collapse">
                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="640">
                                <table style="border-radius:0 0 6px 6px;background-color:#575757;color:#ededed" width="640" cellspacing="0" cellpadding="0" border="0" bgcolor="#575757">
                                    <tbody>
                                        <tr style="border-collapse:collapse">
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="30"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="360" height="30"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="60"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="160"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="30"></td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="30"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="360" valign="top">
                                                <span></span>
                                                <p style="font-size:12px;line-height:15px;color:#b0b0b0;margin-top:0;margin-bottom:15px;white-space:normal" align="left">
                                                    <span>Loodos.com</span>
                                                </p>
                                                <p style="font-size:12px;line-height:15px;color:#b0b0b0;margin-top:0;margin-bottom:15px" align="left"></p>
                                            </td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="60"></td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="160" valign="top">
                                            </td>
                                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="30"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" height="10"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>