@using New_Solution_Template.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
@*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && user != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@user.FullName</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>*@

<ul class="nav navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User) && user != null)
    {
        <li class="">
            <a href="javascript:;" class="user-profile dropdown-toggle"
               data-toggle="dropdown" aria-expanded="false">
                <img src="images/img.jpg" alt="">@user.FullName
                <span class=" fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile"> Profile</a>
                </li>
                <li>
                    <a asp-controller="Settings" asp-action="Index">
                        @*<span class="badge bg-red pull-right">50%</span>*@
                        <span>Settings</span>
                    </a>
                </li>
                <li><a asp-controller="Help" asp-action="Index">Help</a></li>
                <li>
                    @*<a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>*@
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="fa fa-sign-out pull-right">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
