﻿@model dynamic
@{
    Layout = "Shared\\_Layout.cshtml";
}
<table width="580" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr style="border-collapse:collapse">
            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="580">
                <div style="font-size:13px;line-height:18px;color:#444;margin-top:0;margin-bottom:18px;font-family:Arial,Helvetica,Geneva,sans-serif" align="left">
                    <p>
                        Merhaba @Model.FirstName @Model.LastName,
                    </p>
                    <p>
                        Doldurmanız gereken <b>Performans Değerlendirme Formu</b> bulunuyor.
                    </p>
                    <p>
                        Form Adı: @Model.FormName<br>
                        Form Açıklaması: @Model.FormDescription<br>
                        Değerlendirme Dönemi: @Model.EvaluationPeriod<br>
                        Çalışan Ad Soyad: @Model.EmployeeFullName<br>
                    </p>

                    <br><br>Değerlendirme Dönemi içerisinde doldurmanızı rica ederiz. <br>
                    <p>
                        Saygılarımızla,<br>
                        Loodos IK <br><br>
                        <a href="https://www.loodos.com" target="_blank">loodos.com</a>
                    </p>

                </div>
            </td>
        </tr>
        <tr style="border-collapse:collapse">
            <td style="border-collapse:collapse;font-family:Arial,Helvetica,Geneva,sans-serif" width="580" height="10"></td>
        </tr>
    </tbody>
</table>